<%- include('templates/header'); -%>

	
        <main>
          
           <div id="content">
                <h2>Computer Science Passions</h2>
                <div id = "intro">
                    <p>This page includes my passions in computer science</p>
                </div>
                <img width="600" src="img/cs_pic.jpg" alt='CS Passions Picture'>
                
                <ul>
                   <li><span class="hobby">DataScience: </span>Uses the different algorithems and different system to find a prediction model. Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquoris.</li>
                   <li><span class="hobby">Different Languages: </span>Different programming languages like C++, Python, Java and JavaScript. Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquoris.</li>
                   <li><span class="hobby">Big Data: </span>The field that deals with taking large amounts of data that then gets turned into systems with high statical power. Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquoris.</li>
                </ul>
           </div> 
          
        </main>


<%- include('templates/footer'); -%>
