<%- include('templates/header'); -%>

        
        <main>
          
           <div id="content">
                <h2>Computer Science Languages</h2>
                <div id = "intro">
                    <p>This page includes my languages that I know</p>
                </div>
                <img width="600" src="img/cs_languages.png" alt='CS Passions Picture'>
                
                <ul>
                   <li><span class="hobby">Python: </span>it is a higher level programming_language that was developed in 1980. It's power comes from its simplicity and ease of learning. Lorem ipsum dolor sit amet,  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquoris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                   <li><span class="hobby">Java: </span>an object oriented language that is class based wich was released in 1995. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore llamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                   <li><span class="hobby">C++: </span>is a general purpose programming_language that is an extension of C. It was first developed in 1985. Lorem ipsum dolor sit amet, ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                   <li><span class="hobby">JavaScript: </span>a often just in time compiled language that, it is with html and css the core technologies of the world wide web. Lorem ipsum dolor sit amet, ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                   <li><span class="hobby">SQL: </span>which stands for "Structured Query Language" used in programming for mainly database design. Lorem ipsum dolor sit amet, ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                </ul>
           </div> 
          
        </main>
        
<%- include('templates/footer'); -%>
        