		<footer>
            <hr>
            CST336. 2020 Spring &copy; Rubino <br />
            <strong>Disclaimer</strong> The information on this website is fictitous. <br />
            <img  width="150" src="img/csumblogo.png" alt="Logo"/>

        </footer>

</body>
</html>
